# 1. Mac OS System Files
.DS_Store
.AppleDouble
.LSOverride

# 2. Python & Flask Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# 3. Virtual Environments
venv/
env/
.env

# 4. Clustal Omega Temporary Files
clustalo_app/temp/*
!clustalo_app/temp/.gitkeep

# 5. Server Deployment Files (uWSGI)
*.sock
*.log
